@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

$VeryDarkGrayishBlue: hsl(217, 19%, 35%);
$DesaturatedDarkBlue: hsl(214, 17%, 51%);
$GrayishBlue: hsl(212, 23%, 69%);
$LightGrayishBlue: hsl(210, 46%, 95%);

$font: "Manrope", sans-serif;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-size: 13px;
  font-family: $font;
  background-color: $LightGrayishBlue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 12px;
  max-width: 100%;
  margin: 0 1rem;
  border-radius: 10px;
  background-color: white;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .card-img {
    img {
      width: 100%;
      display: block;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  .card-body {
    padding: 2.5rem 2.3rem 1.5rem;

    .card-header h6 {
      font-size: 1.1rem;
      margin: 0;
      color: $VeryDarkGrayishBlue;
    }

    .card-paragraph {
      color: $DesaturatedDarkBlue;
      font-size: 1rem;
      line-height: 1.9;
      margin-bottom: 2.3rem;
    }
  }

  .card-footer {
    display: flex;
    align-items: center;
    width: 100%;

    img {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      margin-right: 1rem;
    }

    .footer-date {
      display: flex;
      flex-direction: column;
      margin-right: auto;

      p {
        color: $VeryDarkGrayishBlue;
        font-weight: 700;
        margin: 0;
        margin-bottom: 0.2rem;
      }

      span {
        color: $DesaturatedDarkBlue;
      }
    }

    .social-link-btn {
      background-color: $LightGrayishBlue;
      border-radius: 200px;
      padding: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 1.2rem !important;
        width: 1.2rem !important;
        margin: 0;
      }
    }
  }
  .social-icons {
    background-color: $VeryDarkGrayishBlue;
    height: 5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 2.5rem;
    transform-origin: bottom;
    transition: all 0.3s ease-out;
    transform: scale(0);

    span {
      text-transform: uppercase;
      color: $DesaturatedDarkBlue;
      font-size: 1.1rem;
      letter-spacing: 4px;
    }

    img {
      height: 1.5rem !important;
      width: 1.5rem !important;
      margin: 0;
      margin-left: 1rem;
    }
    .share-div {
      background-color: $DesaturatedDarkBlue;
      border-radius: 200px;
      padding: 0.8rem;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      svg path {
        fill: white;
      }
      .share {
        height: 1.5rem !important;
        width: 1.5rem !important;
        margin: 0;
      }
    }

    &.active {
      transform: scale(1);
    }
  }
}

.attribution {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  margin-bottom: 0.1rem;
  font-size: 0.8rem;

  a {
    text-decoration: none;
    color: $DesaturatedDarkBlue;
  }
}

@media (min-width: 1400px) {
  .card {
    display: grid;
    grid-template-columns: 20rem 30rem;

    .card-img {
      background-image: url(../images/drawers.jpg);
      background-size: cover;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      background-repeat: no-repeat;

      img {
        display: none;
      }
    }

    .card-body {
      .card-header h6 {
        font-size: 1.4rem;
      }

      .card-paragraph {
        font-size: 0.9rem;
        line-height: 1.6;
        letter-spacing: 0.5px;
        margin-bottom: 1.2rem;
      }
    }
    .card-footer {
      position: relative;
      .social-link-btn {
        padding: 0.7rem;
        transition: all 0.4s ease;
        &:hover {
          cursor: pointer;
        }

        &.active {
          background-color: $DesaturatedDarkBlue;
          svg path {
            fill: white;
          }
        }

        img {
          height: 1rem !important;
          width: 1rem !important;
        }
      }

      .social-icons {
        position: absolute;
        left: 60%;
        top: -80px;
        right: 0;
        display: flex;
        justify-content: space-evenly;
        width: 15rem;
        border-radius: 10px;
        height: 3.5rem;
        padding: 0.2rem 1.5rem;

        &::after {
          position: absolute;
          content: "";
          bottom: -0.5rem;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          width: 1.5rem;
          height: 1.5rem;
          background: $VeryDarkGrayishBlue;
          z-index: 3;
          transform: rotate(45deg);
        }

        &.active {
          transform: scale(1);

          svg path {
            fill: white;
          }

          img {
            margin: 0;

            &:hover {
              cursor: pointer;
            }
          }

          .share-div {
            display: none;
          }
        }
      }
    }
  }
  .attribution {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    margin-bottom: 2rem;
    font-size: 0.8rem;

    a {
      text-decoration: none;
      color: $DesaturatedDarkBlue;
    }
  }
}
